<!DOCTYPE html>
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Builderz - Construction Company HTML Template</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="Free HTML Templates" name="keywords">
<meta content="Free HTML Templates" name="description">

<link href="img/favicon.ico" rel="icon">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

<link href="lib/animate/animate.min.css" rel="stylesheet">
<link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
<link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
<link href="lib/slick/slick.css" rel="stylesheet">
<link href="lib/slick/slick-theme.css" rel="stylesheet">

<link href="css/bootstrap.min.css" rel="stylesheet">

<link href="css/style.css" rel="stylesheet">
</head>
<body>

<div class="wrapper">

<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
<div class="spinner-border text-primary d-flex align-items-center justify-content-center" style="width: 5rem; height: 5rem;" role="status">
<div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status"></div>
</div>
</div>


<div class="container-fluid bg-primary">
<div class="row align-items-center top-bar">
<div class="col-lg-4 col-md-12 text-center text-lg-start">
<a href="" class="navbar-brand m-0 p-0">
<h1 class="display-4 m-0">Builderz</h1>

</a>
</div>
<div class="col-lg-8 col-md-7 d-none d-lg-block">
<div class="row">
<div class="col-4">
<div class="d-flex align-items-center justify-content-end text-dark">
<i class="flaticon-calendar fs-1"></i>
<div class="ps-3">
<p class="mb-0">Opening Hour</p>
<small>Mon - Fri, 8:00 - 9:00</small>
</div>
</div>
</div>
<div class="col-4">
<div class="d-flex align-items-center justify-content-end text-dark">
<i class="flaticon-call fs-1"></i>
<div class="ps-3">
<p class="mb-0">Call Us</p>
<small>+012 345 6789</small>
</div>
</div>
</div>
<div class="col-4">
<div class="d-flex align-items-center justify-content-end text-dark">
<i class="flaticon-send-mail fs-1"></i>
<div class="ps-3">
 <p class="mb-0">Email Us</p>
<small><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="2f464149406f4a574e425f434a014c4042">[email&#160;protected]</a></small>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="container-fluid nav-bar">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 py-lg-0">
<a href="#" class="navbar-brand d-lg-none">MENU</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
<span class="fa fa-bars"></span>
</button>
<div class="collapse navbar-collapse" id="navbarCollapse">
<div class="navbar-nav me-auto py-0">
<div class="nav-item dropdown">
<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Home</a>
<div class="dropdown-menu m-0">
<a href="index-1.html" class="dropdown-item">Home 1</a>
<a href="index-2.html" class="dropdown-item">Home 2</a>
</div>
</div>
<div class="nav-item dropdown">
<a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">About</a>
<div class="dropdown-menu m-0">
<a href="about-1.html" class="dropdown-item active">About 1</a>
<a href="about-2.html" class="dropdown-item">About 2</a>
</div>
</div>
<div class="nav-item dropdown">
<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Service</a>
<div class="dropdown-menu m-0">
<a href="service-1.html" class="dropdown-item">Service 1</a>
<a href="service-2.html" class="dropdown-item">Service 2</a>
<a href="service-detail.html" class="dropdown-item">Service Detail</a>
</div>
</div>
<div class="nav-item dropdown">
<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Project</a>
<div class="dropdown-menu m-0">
<a href="project-1.html" class="dropdown-item">Project 1</a>
<a href="project-2.html" class="dropdown-item">Project 2</a>
<a href="project-detail.html" class="dropdown-item">Project Detail</a>
</div>
</div>
<div class="nav-item dropdown">
<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
<div class="dropdown-menu m-0">
<a href="price-1.html" class="dropdown-item">Pricing 1</a>
<a href="price-2.html" class="dropdown-item">Pricing 2</a>
<a href="blog-1.html" class="dropdown-item">Blog Grid 1</a>
<a href="blog-2.html" class="dropdown-item">Blog Grid 2</a>
<a href="blog-detail.html" class="dropdown-item">Blog Detail</a>
<a href="quote.html" class="dropdown-item">Get A Quote</a>
<a href="faq.html" class="dropdown-item">FAQs Page</a>
<a href="team.html" class="dropdown-item">Our Team</a>
<a href="testimonial.html" class="dropdown-item">Testimonial</a>
<a href="404.html" class="dropdown-item">404 Error</a>
</div>
</div>
<div class="nav-item dropdown">
<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Contact</a>
<div class="dropdown-menu m-0">
<a href="Contact-1.html" class="dropdown-item">Contact 1</a>
<a href="Contact-2.html" class="dropdown-item">Contact 2</a>
</div>
</div>
<a href="element.html" class="nav-item nav-link">Elements</a>
</div>
<button type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></button>
<a href="https://htmlcodex.com/construction-company-html-template" class="btn btn-outline-primary py-2 px-3 mx-2">Purchase Now</a>
</div>
</nav>
</div>
<div class="container-fluid bg-primary nav-bar-shape"><span></span></div>


<div class="container-fluid page-header mb-5 p-0" style="background-image: url(img/carousel-1.jpg);">
<div class="container-fluid page-header-inner py-5">
<div class="container text-center py-5">
<h1 class="display-5 text-white mb-0">About Us</h1>
<hr class="bg-white mx-auto" style="width: 90px;">
<nav aria-label="breadcrumb">
<ol class="breadcrumb justify-content-center text-uppercase">
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item"><a href="#">Pages</a></li>
<li class="breadcrumb-item text-white active" aria-current="page">About</li>
</ol>
</nav>
</div>
</div>
</div>


<div class="modal fade" id="searchModal" tabindex="-1">
<div class="modal-dialog modal-fullscreen">
<div class="modal-content" style="background: rgba(3, 15, 39, .7);">
<div class="modal-header border-0">
<button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body d-flex align-items-center justify-content-center">
<div class="input-group" style="max-width: 600px;">
<input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
<button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
</div>
</div>
</div>
</div>
</div>


<div class="container-fluid py-5">
<div class="container">
<div class="row g-5">
<div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
<div class="about-img position-relative h-100">
<img class="position-absolute w-100 h-100 p-3" src="img/about.jpg" style="object-fit: cover;">
<div class="video" style="min-height: inherit; background: none;">
<button type="button" class="btn-play" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
<span></span>
</button>
</div>
</div>
</div>
<div class="col-lg-7 wow fadeIn" data-wow-delay="0.5s">
<div class="section-header text-start pb-4">
<h6 class="bg-white px-2 fw-semi-bold text-uppercase text-primary">Welcome to Builderz</h6>
<h1 class="display-5">25 Years Experience</h1>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem. Curabitur non nisl nec nisi scelerisque maximus. Aenean consectetur convallis porttitor. Aliquam interdum at lacus non blandit.</p>
<a class="btn btn-primary py-3 px-5 mt-2" href="">Learn More</a>
</div>
</div>
</div>
</div>


<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content rounded-0">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">

<div class="ratio ratio-16x9">
<iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always" allow="autoplay"></iframe>
</div>
</div>
</div>
</div>
</div>


<div class="container-fluid px-0 my-5 wow fadeIn" data-wow-delay="0.1s">
<div class="row g-0">
<div class="col-lg-6 bg-dark fact-left">
<div class="row g-0">
<div class="col-12 col-md-6 wow fadeIn" data-wow-delay="0.3s">
<div class="fact-box bg-dark d-flex align-items-center px-5 py-5 py-md-0">
<div class="fact-icon flex-shrink-0">
<i class="flaticon-worker text-primary"></i>
</div>
<div class="ps-3">
<h2 class="text-primary" data-toggle="counter-up">109</h2>
<h6 class="text-primary text-uppercase fw-semi-bold m-0">Expert Worker</h6>
</div>
</div>
</div>
<div class="col-12 col-md-6 wow fadeIn" data-wow-delay="0.5s">
<div class="fact-box bg-dark d-flex align-items-center px-5 py-5 pt-0 py-md-0">
<div class="fact-icon flex-shrink-0">
<i class="flaticon-building text-primary"></i>
</div>
<div class="ps-3">
<h2 class="text-primary" data-toggle="counter-up">485</h2>
<h6 class="text-primary text-uppercase fw-semi-bold m-0">Happy Client</h6>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6 bg-primary fact-right position-relative">
<div class="row g-0">
<div class="col-12 col-md-6 wow fadeIn" data-wow-delay="0.7s">
<div class="fact-box bg-primary d-flex align-items-center px-5 py-5 py-md-0">
<div class="fact-icon flex-shrink-0">
<i class="flaticon-address text-primary"></i>
</div>
<div class="ps-3">
<h2 class="text-dark" data-toggle="counter-up">789</h2>
<h6 class="text-dark text-uppercase fw-semi-bold m-0">Complete Project</h6>
</div>
</div>
</div>
<div class="col-12 col-md-6 wow fadeIn" data-wow-delay="0.9s">
<div class="fact-box bg-primary d-flex align-items-center px-5 py-5 pt-0 py-md-0">
<div class="fact-icon flex-shrink-0">
<i class="flaticon-crane text-primary"></i>
</div>
<div class="ps-3">
<h2 class="text-dark" data-toggle="counter-up">890</h2>
<h6 class="text-dark text-uppercase fw-semi-bold m-0">Running Project</h6>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="container-fluid py-5">
<div class="container">
<div class="row g-5">
<div class="col-lg-6">
<div class="section-header text-start pb-4 wow fadeIn" data-wow-delay="0.1s">
<h6 class="bg-white px-2 fw-semi-bold text-uppercase text-primary">Our Skills</h6>
<h1 class="display-5">25 Years Experience</h1>
</div>
<p class="mb-4">Eirmod sea tempor elitr erat. Ipsum elitr erat dolor magna lorem sed rebum diam est diam justo est sea lorem.</p>
<div class="skill mb-4 wow fadeIn" data-wow-delay="0.2s">
 <div class="d-flex justify-content-between">
<h6 class="mb-2">Experience</h6>
<h6 class="mb-2">95%</h6>
</div>
<div class="progress">
<div class="progress-bar bg-primary" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"><span class="bg-primary"></span></div>
</div>
</div>
<div class="skill mb-4 wow fadeIn" data-wow-delay="0.3s">
<div class="d-flex justify-content-between">
<h6 class="mb-2">Machinery</h6>
<h6 class="mb-2">85%</h6>
</div>
<div class="progress">
<div class="progress-bar bg-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"><span class="bg-info"></span></div>
</div>
</div>
<div class="skill mb-4 wow fadeIn" data-wow-delay="0.4s">
<div class="d-flex justify-content-between">
<h6 class="mb-2">Engineer</h6>
<h6 class="mb-2">90%</h6>
</div>
<div class="progress">
<div class="progress-bar bg-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"><span class="bg-success"></span></div>
</div>
</div>
<div class="skill mb-4 wow fadeIn" data-wow-delay="0.5s">
<div class="d-flex justify-content-between">
<h6 class="mb-2">Design</h6>
<h6 class="mb-2">90%</h6>
</div>
<div class="progress">
<div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"><span class="bg-danger"></span></div>
</div>
</div>
<div class="skill mb-4 wow fadeIn" data-wow-delay="0.6s">
<div class="d-flex justify-content-between">
<h6 class="mb-2">Satisfaction</h6>
<h6 class="mb-2">95%</h6>
</div>
<div class="progress">
<div class="progress-bar bg-dark" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"><span class="bg-dark"></span></div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="section-header text-start pb-4 wow fadeIn" data-wow-delay="0.1s">
<h6 class="bg-white px-2 fw-semi-bold text-uppercase text-primary">Our Clients</h6>
<h1 class="display-5">We Are Trusted</h1>
</div>
<div class="row g-3">
<div class="col-6 col-md-4 wow fadeIn" data-wow-delay="0.2s">
<div class="border p-4">
<img class="img-fluid" src="img/vendor-1.jpg" alt="">
</div>
</div>
<div class="col-6 col-md-4 wow fadeIn" data-wow-delay="0.3s">
<div class="border p-4">
<img class="img-fluid" src="img/vendor-2.jpg" alt="">
</div>
</div>
 <div class="col-6 col-md-4 wow fadeIn" data-wow-delay="0.4s">
<div class="border p-4">
<img class="img-fluid" src="img/vendor-3.jpg" alt="">
</div>
</div>
<div class="col-6 col-md-4 wow fadeIn" data-wow-delay="0.5s">
<div class="border p-4">
<img class="img-fluid" src="img/vendor-4.jpg" alt="">
</div>
</div>
<div class="col-6 col-md-4 wow fadeIn" data-wow-delay="0.6s">
<div class="border p-4">
<img class="img-fluid" src="img/vendor-5.jpg" alt="">
</div>
</div>
<div class="col-6 col-md-4 wow fadeIn" data-wow-delay="0.7s">
<div class="border p-4">
<img class="img-fluid" src="img/vendor-6.jpg" alt="">
</div>
</div>
</div>
<div class="bg-dark d-flex align-items-center p-4 mt-3 wow fadeIn" data-wow-delay="0.9s">
<div class="bg-primary d-flex align-items-center justify-content-center" style="width: 60px; height: 60px;">
<i class="fa fa-phone-alt fs-4 text-dark"></i>
</div>
<div class="ps-4">
<h5 class="text-light mb-2">Call to ask any question</h5>
<h4 class="text-primary mb-0">+012 345 6789</h4>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="container-fluid py-5">
<div class="container">
<div class="section-header text-center pb-5">
<h6 class="bg-white px-2 fw-semi-bold text-uppercase text-primary">Our Team</h6>
<h1 class="display-5">Meet Our Engineers</h1>
</div>
<div class="row g-3">
<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
<div class="team-item">
<div class="team-img">
<img class="img-fluid w-100" src="img/team-1.jpg" alt="Team Image">
</div>
<div class="team-text bg-dark text-center py-4 px-3">
<h5 class="text-primary fw-semi-bold">Adam Phillips</h5>
<p class="text-white m-0">CEO & Founder</p>
</div>
<div class="team-social">
<a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
<a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
<a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
<a class="social-in" href=""><i class="fab fa-instagram"></i></a>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
<div class="team-item">
<div class="team-img">
<img class="img-fluid w-100" src="img/team-2.jpg" alt="Team Image">
</div>
<div class="team-text bg-dark text-center py-4 px-3">
<h5 class="text-primary fw-semi-bold">Dylan Adams</h5>
<p class="text-white m-0">Civil Engineer</p>
</div>
<div class="team-social">
<a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
<a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
<a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
<a class="social-in" href=""><i class="fab fa-instagram"></i></a>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
<div class="team-item">
<div class="team-img">
<img class="img-fluid w-100" src="img/team-3.jpg" alt="Team Image">
</div>
<div class="team-text bg-dark text-center py-4 px-3">
<h5 class="text-primary fw-semi-bold">Jhon Doe</h5>
<p class="text-white m-0">Interior Designer</p>
</div>
<div class="team-social">
<a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
<a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
<a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
<a class="social-in" href=""><i class="fab fa-instagram"></i></a>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
<div class="team-item">
<div class="team-img">
<img class="img-fluid w-100" src="img/team-4.jpg" alt="Team Image">
</div>
<div class="team-text bg-dark text-center py-4 px-3">
<h5 class="text-primary fw-semi-bold">Josh Dunn</h5>
<p class="text-white m-0">Painter</p>
</div>
<div class="team-social">
<a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
<a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
<a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
<a class="social-in" href=""><i class="fab fa-instagram"></i></a>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="container-fluid bg-dark border-bottom border-primary overflow-hidden mt-5 wow fadeIn" data-wow-delay="0.1s">
<div class="container">
<div class="row g-0 align-items-center">
<div class="col-md-6 col-sm-12" style="height: 90px;">
<div class="h-100 d-flex align-items-center justify-content-center">
<a class="fs-4 text-primary fw-bold" href="#"><i class="fa fa-calculator me-3"></i>Request A Quote</a>
</div>
</div>
<div class="col-md-6 col-sm-12" style="height: 90px;">
<div class="call-to-action-btn position-relative bg-primary h-100 d-flex align-items-center justify-content-center">
<a class="fs-4 text-dark fw-bold" href="#"><i class="fa fa-calendar-alt me-3"></i>Set An Appointment</a>
 </div>
</div>
</div>
</div>
</div>


<div class="container-fluid bg-dark text-light footer pt-5 wow fadeIn" data-wow-delay="0.1s">
<div class="container py-5">
<div class="row gy-5">
<div class="col-md-6 col-lg-3">
<div class="section-header text-start pb-4">
<h6 class="h5 bg-dark px-2 fw-semi-bold text-uppercase text-primary">Office Contact</h6>
</div>
<p><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
<p><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
<p><i class="fa fa-envelope me-3"></i><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="9cf5f2faf3dcf9e4fdf1ecf0f9b2fff3f1">[email&#160;protected]</a></p>
<div class="d-flex pt-2">
<a class="btn btn-social" href=""><i class="fab fa-twitter"></i></a>
<a class="btn btn-social" href=""><i class="fab fa-facebook-f"></i></a>
<a class="btn btn-social" href=""><i class="fab fa-youtube"></i></a>
<a class="btn btn-social" href=""><i class="fab fa-instagram"></i></a>
<a class="btn btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="section-header text-start pb-4">
<h6 class="h5 bg-dark px-2 fw-semi-bold text-uppercase text-primary">Services Areas</h6>
</div>
<a class="btn btn-link" href="">Building Construction</a>
<a class="btn btn-link" href="">House Renovation</a>
<a class="btn btn-link" href="">Architecture Design</a>
<a class="btn btn-link" href="">Interior Design</a>
<a class="btn btn-link" href="">Painting</a>
</div>
<div class="col-md-6 col-lg-3">
<div class="section-header text-start pb-4">
<h6 class="h5 bg-dark px-2 fw-semi-bold text-uppercase text-primary">Useful Pages</h6>
</div>
<a class="btn btn-link" href="">About Us</a>
<a class="btn btn-link" href="">Contact Us</a>
<a class="btn btn-link" href="">Our Team</a>
<a class="btn btn-link" href="">Projects</a>
<a class="btn btn-link" href="">Testimonial</a>
</div>
<div class="col-md-6 col-lg-3">
<div class="section-header text-start pb-4">
<h6 class="h5 bg-dark px-2 fw-semi-bold text-uppercase text-primary">Newsletter</h6>
</div>
<p>Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulpu</p>
<form action="">
<div class="input-group">
<input type="text" class="form-control border-white p-3" placeholder="Your Email">
<button class="btn btn-primary">Sign Up</button>
</div>
</form>
</div>
</div>
</div>
<div class="container">
<div class="footer-menu">
<a href="">Terms of use</a>
<a href="">Privacy policy</a>
<a href="">Cookies</a>
<a href="">Help</a>
<a href="">FQAs</a>
</div>
</div>
<div class="container py-4">
 <div class="row">
<div class="col-md-6 text-center text-md-start">
<p class="m-md-0">&copy; <a href="#">Your Site Name</a>, All Right Reserved.</p>
</div>
<div class="col-md-6 text-center text-md-end">
<p class="m-0">Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
</div>
</div>
</div>
</div>


<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-0 back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>


<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https://code.jquery.com/jquery-3.4.1.min.js" type="2e69d1d4a944748196db8c28-text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" type="2e69d1d4a944748196db8c28-text/javascript"></script>
<script src="lib/wow/wow.min.js" type="2e69d1d4a944748196db8c28-text/javascript"></script>
<script src="lib/easing/easing.min.js" type="2e69d1d4a944748196db8c28-text/javascript"></script>
<script src="lib/waypoints/waypoints.min.js" type="2e69d1d4a944748196db8c28-text/javascript"></script>
<script src="lib/counterup/counterup.min.js" type="2e69d1d4a944748196db8c28-text/javascript"></script>
<script src="lib/owlcarousel/owl.carousel.min.js" type="2e69d1d4a944748196db8c28-text/javascript"></script>
<script src="lib/isotope/isotope.pkgd.min.js" type="2e69d1d4a944748196db8c28-text/javascript"></script>
<script src="lib/lightbox/js/lightbox.min.js" type="2e69d1d4a944748196db8c28-text/javascript"></script>
<script src="lib/slick/slick.min.js" type="2e69d1d4a944748196db8c28-text/javascript"></script>

<script src="js/main.js" type="2e69d1d4a944748196db8c28-text/javascript"></script>
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="2e69d1d4a944748196db8c28-|49" defer=""></script></body>
</html>

</html>