<!DOCTYPE html>
{% extends 'app/base.html' %}
{% load static %}

{% block contain %}
<div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">Create an account</h2>
          {% comment %} for Rister form submit then message for sucess {% endcomment %}
                {% if messages %}
                  {% for message in messages %}
                    {{message}}
                  {% endfor %}
                {% endif %}

                  <form action="" method="POST" novalidate>
                      {% csrf_token %}


                      {% for fm in form %}
                      <div class="form-group">
                        <p>{{fm.label_tag}} <br>{{fm}} <small style="color: red">{{fm.errors|striptags}}</small></p>
                      </div>
                      {% endfor %}

                      <div class="d-flex justify-content-center">
                        <button type="submit" value="login"
                          class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Registrion</button>
                      </div>
                        <br>
                    <p class="text-center">If you already have an account, <a href="/userlogin">login</a> instead.</p>
                </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock contain %}




  